.hero {
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: var(--primary-background);
  padding-top: 118px;
  margin: auto;
}

.hero__title {
  width: 247px;
  color: #fcfcfc;
  font-family: Seymour One;
  font-size: 26px;
  line-height: normal;
  letter-spacing: 1.04px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.hero__left {
  display: flex;
  align-items: center;
  margin-bottom: 170px;
}

.hero__left-description {
  color: #f8d24e;
  background-color: transparent;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  margin-left: 12px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: #0a8817;
  }
  &:focus {
    color: #fcfcfc;
  }

  &:disabled {
    color: #ababab;
  }
}
.hero__list {
  position: absolute;
  top: 20px;
  right: 32px;
}
.hero__list-accent {
  display: block;
  color: #131313;
  text-align: right;
  font-size: 28px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1.12px;
  text-transform: uppercase;
}

.hero__list-item {
  color: #fcfcfc;
  text-align: right;
  font-size: 9px;
  font-weight: 400;
  margin-bottom: 32px;
}

@media screen and (max-width: 767px) {
  .hero__mobile {
    display: none;
  }
  .hero {
    padding-bottom: 50px;
    max-width: 768px;
    background-image:
     url(../imges/mobile/dotte-mobile.png);
    background-size: auto;
    background-position: bottom;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image:
        url(../imges/mobile/dotte-mobile@2x.png);
    }
  }

  .hero__description {
    display: none;
  }
  .hero__list {
    display: none;
  }
  .hero__mobile-img {
    position: absolute;
    top: 80%;
    left: 34%;
  }
  .hero__item-arrow {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 1200px;
    background-image:
      url(../imges/tablet/dotte-tablet.png);
    background-size: auto;
    background-position: bottom;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image:
        url(../imges/tablet/dotte-tablet@2x.png);
    }
  }

  .hero__left {
    margin-bottom: 12px;
  }

  .hero__right {
    display: flex;
  }

  .hero__description {
    width: 200px;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
  .hero__item {
    margin-left: 16px;
    margin-top: 16px;
  }
  .hero__item-arrow {
    display: block;
    fill: #fff;
  }

  .hero__mobile-img {
    position: absolute;
    top: 17%;
    left: 54%;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    background-image:
      url(../imges/desktop/dotte-desktop.png);
    background-size: auto;
    background-position: bottom;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image:
        url(../imges/desktop/dotte-desktop@2x.png);
      background-size: auto;
      background-position: bottom;
    }
  }
  .hero__left {
    margin-bottom: 42px;
  }
  .hero__mobile-img {
    position: absolute;
    top: 34%;
    left: 57%;
  }
  .hero__item {
    margin-top: 43px;
  }
  .hero__description {
    margin-bottom: 10px;
  }
  .hero__list-accent {
    font-size: 46px;

    letter-spacing: 1.84px;
  }

  .hero__list-item {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    padding-bottom: 97px;
  }

  .hero__mobile-img {
    position: absolute;
    top: 100%;
    left: 19%;
  }
}
