.description {
  color: #131313;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}
.title {
  color: #131313;
  text-align: center;
  font-family: Seymour One;
  font-size: 30px;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: 10px;
}

.products-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products__list-item:not(:last-child) {
  margin-bottom: 60px;
}

.products__list-contain {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 428px;
  border-radius: 24px;
  margin-top: -75px;
}

.green {
  background-color: #aec6a5;
}

.yellow {
  background-color: #efd478;
}

.red {
  background-color: #d6936d;
}

.products__list-title {
  color: #131313;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  padding-top: 126px;
  padding-bottom: 40px;
}

.products__list-description {
  display: block;
  margin: auto;
  max-width: 200px;
  color: #131313;
  text-align: center;
  font-size: 14px;
  line-height: 176%;
  letter-spacing: 0.56px;
}
.products-list img {
  position: relative;
  display: block;
  margin: auto;
  border-radius: 50%;
}

.products__list-btn {
  background-color: transparent;
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 16px;
}

.products__list-item {
  position: relative;
}

.svg {
  position: absolute;
  top: -2px;
  left: 39px;
  width: 240px;
  height: 240px;
}

.svg-green {
  fill: rgb(175, 207, 162);
  filter: drop-shadow(
    0px 5.2602739334106445px 19.72602653503418px rgba(10, 136, 23, 0.25)
  );
}

.svg-yellow {
  fill: rgba(248, 210, 78);
  filter: drop-shadow(
    0px 5.403973579406738px 20.26490020751953px rgba(153, 114, 23, 0.25)
  );
}

.svg-red {
  fill: rgba(213, 117, 63);
  filter: drop-shadow(
    0px 5.2602739334106445px 19.72602653503418px rgba(0, 0, 0, 0.25)
  );
}

@media screen and (max-width: 320px) {
  .products__list-contain {
    width: 280px;
  }
  .svg {
    left: 20px;
  }
}

@media screen and (min-width: 768px) {
  .description {
    font-size: 22px;
  }
  .title {
    font-size: 34px;
    line-height: normal;
    letter-spacing: 1.36px;
    margin-bottom: 120px;
  }

  .products-list {
    flex-direction: row;
    margin-left: -16px;
  }

  .products__list-item:not(:last-child) {
    margin-bottom: 0;
  }

  .products__list-item {
    margin-left: 16px;
    flex-basis: calc((100% - 90px) / 3);
  }

  .products__list-contain {
    width: 224px;
  }
  .products__list-description {
    letter-spacing: 0.64px;
  }

  .svg {
    left: -8px;
  }
}

@media screen and (min-width: 1200px) {
  .description {
    font-size: 30px;
  }
  .title {
    font-size: 34px;
  }
  .products__list-contain {
    width: 370px;
    margin-top: -115px;
  }
  .products__list-title {
    padding-top: 165px;
  }

  .svg {
    top: -2px;
    left: 5px;
    width: 360px;
    height: 360px;
  }
}
