:root {
    --primary-font-family: "Montserrat", sans-serif;
    --secondary-font-family: "Seymour One Book", sans-serif;

    --primary-text-color: #FCFCFC;
    --secondary-text-color: #131313;
    --accent-text-color: #ABABAB;

    --accent-color: #0A8817;

    --primary-background: #84A178;
    --accent-background: #F8D24E;

    --columns-gap: 30px;
    --tablet-columns-gap: 15px;
}